<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Newsfeeds på nettsider</title>
  <style>
    body {
      margin-left: 2em;
    }

    label {
      display: inline-block;
      width: 5em;
    }
    input[type="url"] {
      width: 20em;
      margin-bottom: 2em;
    }

    .newsArticles {
      display: flex;
      flex-wrap: wrap;
    }

    article {
      width: 15em;
      margin: 0 0;
      padding-left: 1em;
      border: 1px solid #BBB;
    }

    article h3, article p {
      margin-right: 1em;
    }

    article img {
      width: 220px;
    }
  </style>
</head>
<body>
  <h1>Hvilken side ønsker du å se på newsfeed fra</h1>
  <form action="oppgave1.php" method="get">
    <label for="url">Addresse</label><input type="url" id="url" value="{{url}}" name="url" placeholder="http[s]://wwww.example.com"><br/>
    <input type="submit" value="Finn newsfeeds på siden">
  </form>
  {% if feeds!=null %}
    <h2>Velg feed :</h2>
    <ul>
      {% for feed in feeds %}
        <li><a href="oppgave1.php?url={{url}}&chosenURL={{feed.href}}">{{feed.title}}</a></li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if news!=null %}
    <h2>Nyheter fra : {{source}}</h2>
    <div class="newsArticles">
      {% for newsItem in news %}
        <article>
          <h3><a href="{{newsItem.url}}">{{newsItem.title}}</a></h3>
          <img src="{{newsItem.img}}"><p>{{newsItem.descr}}</p>
        </article>
      {% endfor %}
    </div>
  {% endif %}
</body>
</html>
