<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <style media="screen">
      section div {
        margin-left: 15px;
      }

      body>img {
        margin-top: 15px;
        float: left;
        margin-left: 100px;
      }
      body>h1 {
        float: left;
      }
    </style>
  </head>
  <body>
    <h1>{{title}}</h1>
    <img src="{{icon}}" class="icon">
    <br clear="both"/>
    {% for item in entry %}
    <section>
      <h2>{{item.title}}</h2>
      {{item.html|raw}}
    </section>
    {% endfor %}
  </body>
</html>
