<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Byer og tettsteder rundt Gjøvik</h1>
  {% for place in geonames %}
    <h2>{{ place.name|e }}</h2>
    {% if place.population>0 %}
    På {{ place.name }} bor det {{ place.population }} personer.
    {% else %}
    På {{ place.name }} bor det visst ingen i det hele tatt.
    {% endif %}
    <br/>
    {% if place.wikipedia != "" %}
    Du kan lese mer om {{ place.name }} på <a href="{{ place.wikipedia }}">Wikipedia</a><br/>
    {% endif %}
  {% endfor %}
</body>
</html>
