<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>File upload failed</title>
</head>
<body>
  <h1>File upload failed</h1>
  <p>File <b>{{fname}}</b> could not be stored in the database.</p>
  <p>Back to <a href="index.php">file overview</a> or <a href="upload.php">try again</a>.</p>
</body>
</html>
