<table>
  <thead>
    <tr><th></th><th>Fornavn</th><th>Etternavn</th><th>Telefon</th><th>Epost</th></tr>
  </thead>
  <tbody>
    {% for contact in contacts %}
      <tr>
        <td>
          <a href="editContact.php?id={{ contact.id }}" title="Rediger informasjon om kontakten">
            <img class="editIcon" src="img/pen.png" alt="">
          </a>
        </td><td>{{ contact.givenName }}</td><td>{{ contact.familyName }}</td>
        <td>{{ contact.phone }}</td><td>{{ contact.email }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
