<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rediger kontakt</title>
  <link rel="stylesheet" href="css/contacts.css">
</head>
<body>
  <h1>Rediger informasjon om kontakt</h1>
  <form class="addContact" action="editContact.php" method="post">
    <input type="hidden" value="{{contact.id}}" name="id">
    <label for="givenName">Fornavn: </label>
    <input type="text" id="givenName" name="givenName" value="{{contact.givenName}}" required><br/>
    <label for="familyName">Etternavn: </label>
    <input type="text" id="familyName" name="familyName" value="{{contact.familyName}}" required><br/>
    <label for="email">Epost: </label>
    <input type="email" id="email" name="email" value="{{contact.email}}" required><br/>
    <label for="phone">Telefon: </label>
    <input type="text" id="phone" name="phone" value="{{contact.phone}}" required><br/>
    <input type="submit" value="Oppdater kontakt" name="updateContact">
  </form>
</body>
</html>
