<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Lagt til kontakt</title>
</head>
<body>
  {% if status=="OK" %}
    <h1 data-id="{{id}}">Kontakten ble registrert</h1>
    <p>{{ data.givenName }} {{ data.familyName }} er lagt til i databasen</p>
    <p><a href="index.html">Tilbake til hovedsiden</a><p>
  {% else %}
    <h1>Det oppsto en feil</h1>
    <p>Klarte ikke å legge til {{ data.givenName }} {{ data.familyName }} i databasen</p>
    <p><a href="addContact.php">Prøv igjen</a>, <a href="index.html">tilbake til hovedsiden</a></p>
  {% endif %}
</body>
</html>
