<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Søk etter kontakter i registeret</title>
  <link rel="stylesheet" href="css/contacts.css">
</head>
<body>
  <p><a href="index.html">Tilbake til hovedsiden</a></p>
  <form action="searchContact.php" method="get">
    <label for="search">Søk etter: </label>
    <input type="text" name="search" id="search"
            placeholder="Søk etter..."
            title="Skriv inn hele eller deler av navnet til den du søker etter og trykk 'Enter'">
  </form>
  {% if search != "" %}
    <h1>Søket etter "{{ search }}" ga følgende resultater</h1>
    <div class="searchresult">
      {% include 'contactList.html' %}
    </div>
  {% endif %}
</body>
</html>
